.home__content {
    width: 95%; 
    min-height: 100vh;
}

@media (min-width: 480px){
    .home__content{
        width: 90%;
    }
}

@media (min-width: 768px) {
    .home__content{
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .home__content{
        width: 60%;
    }
}

@media (min-width: 1280px) {
    .home__content{
        width: 45%;
    }
}

@media (min-width: 1536px) {
    .home__content{
        width: 50%;
    }
}