.navigation-panel{
    display: grid;
    grid-template-columns: 50% auto;

    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.navigation-items{
    display: flex;
    flex-direction: row;

    cursor: pointer;
    justify-content: end;
    align-items: end;
    margin-bottom: 10px;
    font-size: 18px;
    gap: 15px
}

.navigation-panel__logo{
    font-size: 48px;
    font-weight: bold;

    -webkit-background-clip: text;
    -webkit-text-stroke: 2px black;
    background-clip: text;

    cursor: pointer;
}

.create-page{
    justify-self: start;
}

.navigation-panel.create-page{
    justify-self: start;
    border-bottom: 2px solid lightgray;
}

.home-page {
    justify-self: end;

    background-image: linear-gradient(45deg, 
      #FFD700,
      #FF69B4,
      #2ECC71,
      #3498DB);

    color: transparent;
}
