.navigation-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-panel__logo{
    font-size: 48px;
    position: relative;

    justify-self: center;
    align-self: center;
    left: 20px;

    cursor: pointer;
}

.create-page{
    justify-self: start;
}

.navigation-panel.create-page{
    justify-self: start;
    border-bottom: 2px solid lightgray;
}

.home-page {
    justify-self: end;

    background-image: linear-gradient(45deg, 
      #FFD700,
      #FF69B4,
      #2ECC71,
      #3498DB);

    color: transparent;
}

.navigation-panle__actions{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    position: relative;
    right: 20px;
    justify-self: center;
    align-self: center;
    gap: 10px;
    cursor: pointer;
}



