.navigation-panel {
    width: 100%;
}

/* @media (min-width: 480px){
    .navigation-panel{
        
    }
}

@media (min-width: 768px) {
    .navigation-panel{
        
    }
}

@media (min-width: 1024px) {
    .navigation-panel{
       
    }
}

@media (min-width: 1280px) {
    .navigation-panel{
        
    }
}

@media (min-width: 1536px) {
    .navigation-panel{
        
    }
} */