.main {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 17px;

  border: none;
  border-radius: 15px;

  background: #3b265f;

  margin-bottom: 200px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.title{
  color: white;
}

.content {
  display: flex;
  justify-self: stretch;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  gap: 15px;
  background-color: #f8fafc;
}

.button_add {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;

  font-size: 15px;

  padding: 10px 20px;

  border: none;
  border-radius: 7px;

  cursor: pointer;

  background-color: #c78d21;

  color: white;

  transition: background-color 0.3s ease;
}

.button_add:hover{
  background-color: #e6ac43;
}
