.main {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 17px;

  border: none;
  border-radius: 15px;

  background: #3b265f;

  margin-bottom: 200px;
}

.title{
  color: white;
}

.content {
  display: flex;
  justify-self: stretch;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  gap: 15px;
  background-color: #f8fafc;
}

.button_add {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: center;

  font-size: 15px;

  padding: 7px 17px;

  border: none;
  border-radius: 7px;

  cursor: pointer;
}
