.main {
  padding: 10px 30px;
}

.content {
  display: flex;
  justify-self: stretch;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  gap: 15px;
  background-color: #f8fafc;
}

.button_add {
  display: flex;
  width: 50px;
  align-self: center;
  justify-content: center;
}
