.main{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;

    padding: 20px;
    width: 100%;
}

.buttons button{
    border: none;
    border-radius: 11px;

    padding: 10px 20px;

    font-size: 16px;
    font-family: Rubik;
}

.questions{
    display: flex;
    gap: 7px;

    padding: 15px;

    border: none;
    border-radius: 15px;

    background-color: rgb(17, 80, 60);
}

.select{
    padding: 0px 15px;

    height: 35px;

    border-width: 1px;
    border-color: red;
    border-style: solid;
    border-radius: 7px;
}

.not_select{
    border: none;
    border-radius: 7px;

    padding: 0px 15px;

    height: 35px;
}