.main{
    display: flex;
    flex-direction: row;
    gap: 10px;

    padding: 20px;
    width: 100%;
}

.main button{
    border: none;
    border-radius: 11px;

    padding: 10px 20px;

    background-color: rgb(17, 80, 60);

    font-size: 16px;
    font-family: Rubik;
}


/* .selected{
    background-color: rebeccapurple;
} */