.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  color: #1e1e1e;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  background: rgba(76, 110, 245, 0.7);
  border: 3px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px; 
}

.bottomPanel {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.bottomPanelSpaceBetween {
  justify-content: space-between;
}

.bottomPanelCenter {
  justify-content: center;
}

.clickable {
  cursor: pointer;
  color: #ffffff;
  text-decoration: underline;
  transition: color 0.2s;
}

.clickable:hover {
  color: #e0e0ff;
}

.title {
  margin: 30px 0;
  text-align: center;
  color: white;
  font-weight: 600;
}

@media(max-width: 478px){
    .content{
        flex: 1;
        margin-top: 0;
    }
    .authFormFullHeight {
        height: 100vh;    
    }
}