.starting-create__content{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.starting-create__btn__continue{
    background-color: var(--color-blue-500);
    border-radius: 4px;
    color: white;
    width: 150px;
    margin-top: 10px;
    display: flex;
    align-self: self-end;
    justify-content: center;
    height: 25px;
}