.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* QUESTIONS */
.questions{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px;

    border-radius: 10px;
    border: 1px solid #46286b8a;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

    transition: border 0.3s ease;
}

.questions h3{
    color: whitesmoke;
}
