.main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main button{
    background: #3B82F6;
    color: white;
}

.main button:hover{
    background: #276fe4;
}

.error_message{
    font-size: 12px;

    color: #e42727;
}