.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    padding-top: 20px;
    min-height: 100vh;

    background-color: rgb(9, 59, 43);
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 60%;
}

.gotomain{
    display: flex;
    justify-content: center;
    align-self: center;

    width: 200px;

    border: none;
    border-radius: 11px;

    font-size: 16px;

    padding: 10px 15px;

    transition: all 0.3s ease;

    box-shadow: 0px 2px 2px rgba(0,0,0, 0.14);
}

.gotomain:hover{
    transform: scale(1.03);
}

.avg_info{
    display: flex;

    border: none;
    border-radius: 15px;

    background-color: #17664f;
    box-shadow: 0px 2px 2px rgba(0,0,0, 0.14);

    padding: 20px;
}

@media(max-width: 888px){
    .content{
        width: 95%;
    }
}