.main {
  display: flex;
  flex-direction: column;
  gap: 10px; 

  width: 40%;

  padding-top: 20px;
}

.title{
  display: flex;
  justify-self: center;
  align-self: center;

  margin-bottom: 20px;

  color: white;
}

.settings{
  position: fixed;
  display: flex;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px; 
  padding: 20px;

  background-color:#3b265f;

  border: none;
  border-radius: 15px;
}

.buttons button{
    font-size: 15px;
    font-family: "Rubik";

    padding: 7px 17px;

    border: none;
    border-radius: 7px;
}

.deleteQuestion {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 880px) {
  .main{
    width: 97%;
  }
}
