.main {
  /* padding: 20px; */
  padding-top: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px; 
  padding: 0 20px 0 0;
}

.buttons button{
    padding: 10px 15px 10px 15px;
    font-size: 18px;
    font-family: "Rubik";
}

.deleteQuestion {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .main {
    max-width: 500px;
  }
}

@media (min-width: 1024px) {
  .main {
    max-width: 700px;
  }
}
