.global_main{
    height: 100vh;
    overflow: auto;

    background-color: #0B1E2D;  
}

.header{
    display: flex;
    justify-content: end;
    gap: 20px;

    background-color: #04101a;

    padding: 0px 30px;

    height: 50px;
}

.header button{
    cursor: pointer;

    color: whitesmoke;

    font-size: 18px;
    font-family: Rubik;

    background: transparent;

    padding: 0px 20px;
}

.main_btn{
    border: 0px;
}

.main_btn:hover{
    border-bottom: 2px solid white;
}

.profile_btn{
    border: 0px;
    border-bottom: 2px solid white;
}


.main {
    display: flex;
    flex-direction: column;
    gap:20px;

    padding: 20px;

    min-height: 0;
}

.content{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.content{
    display: flex;
    flex-direction: row;
    gap: 30px;

    height: 68vh;
}


@media(max-width: 880px){
    .main{
        padding: 5px;
    }
    .search{
        border-radius: 0px;
        border-width: 0px;
    }
}