.main{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 5px 20px;
    background-color: antiquewhite;
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.14);
}

.player{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.player span{
    font-size: 16px;
}

.context_menu{
    position: absolute;
    right: 0;
    margin-top: 65px;
}