.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: none;
    border-radius: 5px;

    background-color: rgb(17, 80, 60);

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    padding: 15px 20px;

    transition: background-color 0.3s ease;
}

.player{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.main:hover{
    background-color: rgb(21, 97, 73);
}

.main label{
    color: rgb(211, 211, 211);
    font-size: 17px;
    font-family: Rubik;
}

.img{
    height: 40px;
    width: 40px;

    border-radius: 5px;
}

.delete_player_btn{
  width: 30px;
  height: 30px;

  border: 1px solid rgba(95, 11, 11, 0.685);
  border-radius: 5px;

  background: rgba(165, 20, 20, 0.685);

  color: white;

  transition: background 0.3s ease, border 0.3s ease;
}

.delete_player_btn:hover{
  border: 1px solid rgba(177, 22, 22, 0.685);

  background: rgba(255, 43, 43, 0.685);
}