.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
  transition: transform 0.4s, background-color 0.3s ease;
  margin-bottom: 10px;

  background-color: rgb(21, 90, 67);
}

.main:hover {
  transform: translateY(-2px);
  background-color: rgb(25, 97, 73);
}

.player {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: #fff;
}

.player label{
    font-size: 16px;
    color: rgb(215, 255, 228);
}

.menuBtn {
  border: none;
  background: transparent;
  font-size: 20px;
  color: white;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 6px;
  transition: background 0.2s;
}

.menuBtn:hover {
  background: rgba(255, 255, 255, 0.1);
}

.contextMenu {
  position: absolute;
  top: 45px;
  right: 10px;
  background: #1a3f2b;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.3);
  overflow: hidden;
  z-index: 100;
}

.menuItem {
  padding: 10px 16px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

.menuItem:hover {
  background: rgba(255, 255, 255, 0.1);
}