.main{
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px;

    border: 1px solid black;
    border-radius: 15px;

    /* background-color: rgb(17, 80, 60);
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.24); */
}

.title{
  display: flex;
  align-self: center;
  color: whitesmoke;
}