.main{
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: none;
    border-radius: 15px;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title h3{
    color: white;
}

.title label{
    color: rgb(107, 107, 107);
    font-size: 14px;
    font-family: Rubik;
}