.home__connect {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;

  min-height: 400px; 
  gap: 20px;
  z-index: 1;

  color: black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

  padding: 30px;
  padding-top: 80px;
  margin: 100px auto 0 auto; 
  width: 90%; 
  max-width: 500px; 

  transition: transform 0.3s ease;
}
.home__connect:hover{
    transform: scale(1.03);
}

.home__connect h1 {
  font-size: 28px;
}

.home__connect p {
  font-size: 20px;
}

.home__connect form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home__connect input {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  height: 40px;
  padding-left: 10px;
}

.home__connect button {
  background-color: green;
  margin-top: 15px;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.home__connect button:hover {
  background-color: darkgreen;
}