.home__connect {
    width: 85%;
}

@media (min-width: 480px) {
  .home__connect {
    width: 85%;
  }
}

@media (min-width: 768px) {
  .home__connect {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .home__connect {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .home__connect {
    width: 40%;
  }
}

@media (min-width: 1536px) {
  .home__connect {
    width: 35%;
  }
}