/* Media request */
@media(max-width: 900px){
    .home__content_connecting{
        margin: 20px;

        padding: 15px;
    }

    .home__content__connecting_text{
        font-size: 15px;
    }   

    .home__content__connecting_text h1{
        font-size: 35px;
    }
}

@media (max-width: 800px) {
  .home__content_connecting {
    display: flex;
    grid-template-columns: none;
    margin: 10px;
    padding: 15px;
  }

  .home__content__connecting_text span {
    display: none;
  }
}

@media(max-width: 500px){
    .home__content__connecting_text form{
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
    } 

    .home__content__connecting_text button{
        margin-top: 10px;
        margin-left: 0;
    }

    .home__content__connecting__animation {
        display: none;
    }
}