.main{
    display: flex;
    flex-direction: column;
}

.start{
    width: 200px;
    padding: 10px 15px;
    font-family: Rubik;
    font-size: 16px;
    background-color: rgb(86, 201, 86)
}

.complete{
    width: 150px;
    padding: 8px 13px;
    font-family: Rubik;
    font-size: 14px;
    background-color: rgb(201, 86, 86)
}