.main{
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-family: Rubik;
}

.content{ 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 5px;

    background-color: rgb(17, 80, 60);

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

    padding: 20px;

    border-radius: 11px;

    transition: background-color 0.3s ease ;
}

.description:hover{
    background-color: rgb(19, 88, 67);
}

.description h3{
    color: white;
}

.access{
    display: flex;
    flex-direction: column;
    gap: 5px;

    background-color: rgb(17, 80, 60);

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

    padding: 20px;

    border-radius: 11px;

    transition: background-color 0.3s ease ;
}

.access:hover{
    background-color: rgb(19, 88, 67);
}

.session_key{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.session_key label{
    font-size: 20px;
    
    color: white;
}