.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    margin-top: 50px;
}

@media(max-width: 768px){
    .main{
        margin-top: 0;
        width: 95%;
    }
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.24);
}

.buttons button{
    padding: 10px 15px;
    font-family: Rubik;
    font-size: 16px;
}

.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.connect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.24);
    padding: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.24);
    padding: 20px;
}