@media (max-width: 600px) {
  .waiting-room-players__content {
    margin: 1rem;
    padding: 1rem;
  }

  .waiting-room-players__actions {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }
}
