.main {
  padding: 10px 30px;
}

.content {
  display: flex;
  justify-self: stretch;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  padding: 0 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

