.main {
  padding: 10px 30px;
}

.content {
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.content span{
     cursor: pointer;
}

.remove{
  display: flex;
  justify-self: end;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(206, 42, 42);
  cursor: pointer;
}