.main {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}

.main h2 {
    color: white;
    text-align: center;
}

.questions_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question_card {
    padding: 20px;
    background-color: #3b265f;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.question_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.question_card h3 {
    color: #fff;
    margin-bottom: 15px;
}

.answer_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.answer_item {
    padding: 10px 15px;
    background-color: #5e3b8f;
    border-radius: 10px;
    color: #fff;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: background-color 0.2s ease;
    cursor: default;
}

.answer_item.correct {
    background-color: #28a745; /* зеленый для правильного ответа */
}

.answer_item:hover {
    background-color: #7a55c6;
}

@media(max-width: 880px) {
    .main {
        width: 97%;
    }
}