.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    width: 100%;

    color: white;
}

.main label{
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere; 

  color: rgba(245, 245, 245, 0.705);
}

.correct{
    display: flex;
    align-items: center;

    border-radius: 5px;

    padding: 5px 10px;

    background: #483364;
}

.correct label{
    color: whitesmoke;
    font-size: 10px ;
}