.open{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0,0,0,0.4);

    z-index: 9999; 
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.2);

    background-color: rgb(85, 126, 165);
    padding: 30px;

    border: 2px solid rgba(49, 77, 104, 0.685);
    border-radius: 10px;
}

.card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

    background-color: rgba(66, 101, 136, 0.685);

    border: 1px solid rgba(49, 77, 104, 0.685);
    border-radius: 5px;
}
.card input{
    height: 30px;
    min-width: 275px;
}

.apply{
    margin-top: 20px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    width: 150px;
    height: 30px;
    align-items: center;

    border: none;
    border-radius: 5px;
}

.close{
    display: none;
}