.menu__main-container {
    position: fixed; 
    display: flex;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    z-index: 100;
    top: 0px;
}
/*
.menu__main-container.active {
    transform: translateX(0); 
} */

.menu__content{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.menu__close{
    width: 5%;
    background-color: rgba(0, 0, 0, 0.562); 
    backdrop-filter: blur(10px); 
}

.menu__close div{
    display: flex;
    font-size: 25px;
    margin: 10px;
    color: whitesmoke;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu__close img{
    display: block;
    margin: 0;
    padding: 0;
    pointer-events: none;
    filter: var(--p-internal-icon-filter, invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%));
    -webkit-animation: rerender-dark-primary 1ms;
    animation: rerender-dark-primary 1ms;
    width: inherit;
    height: inherit;
}

.menu__close div:hover{
    background-color: rgba(78, 78, 78, 0.562);
}


.menu_empty{
    width: 35%;
    background-color: rgba(0, 0, 0, 0.562); 
    backdrop-filter: blur(10px); 
}

.menu__part-right{
    display: flex;
    width: 50%;
    padding: 50px;
    padding-top: 100px;
    background-color: white;
}


.menu__part-left{
    display: flex;
    width: 50%;
    padding: 50px;
    padding-top: 100px;
    background-color: whitesmoke;
    flex-direction: column;
    gap: 10px;
}
.menu__part-left button{
    height: 50px;
    width: 150px;
    background-color: rgb(43, 43, 43);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 50px;
}