.main {
  width: 100%;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.correct_block{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  padding: 10px;
  background-color: #f0fdf4;
  border-color: #22c55e;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 10px;
}


.incorrect_block{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px
}

span{
  font-size: 14px;
  font-family: Rubik;
  margin-bottom: -5px;
  color: rgb(37, 37, 37);
  font-weight: 400;
}