.main {
  width: 100%;
}

.main span{
  color: #978caf;
  font-size: 13px;
  margin-bottom: 1px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.correct_block{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}


.incorrect_block{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px
}

span{
  font-size: 14px;
  font-family: Rubik;
  margin-bottom: -5px;
  color: rgb(37, 37, 37);
  font-weight: 400;
}