.main {
  width: 100%;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* выравниваем кнопку по верхнему краю */
  gap: 5px;
}

.input_field {
  display: flex;
  flex-direction: column; /* чекбокс над инпутом */
  flex: 1;
  gap: 5px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
}

.button {
    display: flex;
    align-self: self-end;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
