.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.24);
}

.session_info{
    padding: 20px;
    box-shadow: 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.qr{
    align-self: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.session_key{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.key{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: rgb(80, 100, 100);
    border-radius: 10px;
    border-top: rgb(40, 51, 51);
    border-width: 2px;
    border-style: solid;
}

.key span{
    font-size: 20px;
    color: rgb(213, 223, 233);
}

.button_qr{
    display: flex;
    margin-right: 20px;
    cursor: pointer;
}