.main{
    padding: 20px;

    border: none;
    border-radius: 15px;

    display: flex;
    justify-content: space-between;
    gap: 20px;

    background: linear-gradient(135deg, #5c6f82, #7f95a8);
}

.content{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/* .buttons button{
    background-color: #6e8396;
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.1);

    padding: 10px 15px;

    border: none;
    border-radius: 7px;

    transition: background-color 0.4s ease, transform 0.1s;
} */

.buttons button{
    background-color: #6e8396;
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.1);

    padding: 10px 15px;

    border: none;
    border-radius: 7px;

    transition: background-color 0.4s ease, transform 0.1s;
}

.buttons button:hover{
    background-color: #657788;
    transform: scale(1.02);
}

.status{
    display: flex;
    flex-direction: column;
}

.key{
    display: flex;
    flex-direction: column;
}

@media(max-width: 880px){
    .main{
        flex-direction: column;
    }
}