.create-quiz-page__main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.create-quiz-page__content-container{
    display: flex;
    flex-direction: column;
}

.question-block__main-container{
    display: flex;
    flex-direction: column;

    margin-top: 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.question-block__content-container{
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 20px;
}

.btn__add-question{
    margin-top: 30px;
}

.container-with-questions{
    margin-top: 70px;
}

.answer-main-container{
    margin-bottom: 20px;
}
.h2__answers{
    margin-bottom: 10px;
}

.btn__add-question{
    margin-bottom: 50px;
}

.btn__save-quiz {
  display: flex;
  width: 150px;
  justify-self: end;
  align-self: flex-end;
  height: 30px;

  background-color: var(--color-blue-500);
  border-radius: 4px;
  color: white;
  justify-content: center; 
  align-items: center;     
  margin-bottom: 20px;
}