.page-slide {
  width: 100%;
  opacity: 1;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

/* Анимация появления слева */
.slide-in-left {
  transform: translateX(0);
  opacity: 1;
}

/* Анимация ухода вправо */
.slide-out-left {
  transform: translateX(100%);
  opacity: 0;
}

/* Анимация появления справа */
.slide-in-right {
  transform: translateX(0);
  opacity: 1;
}

/* Анимация ухода влево */
.slide-out-right {
  transform: translateX(-100%);
  opacity: 0;
}