.home__content{
    display: flex;

    width: 100%;
    height: 100vh;

    flex-direction: column;
}
/* Container connecting */
.home__content_connecting{
    margin: 50px;
    height: 60vh;

    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    padding: 35px;
}

.home__content__connecting_text{
    display: grid;
    grid-template-columns: 50% 50%;

    font-size: 20px;
}

.home__content__connecting_text input{
    height: 30px;
    width: 200px;

    color: black;
}

.home__content__connecting_text button{
    height: 30px;
    width: 100px;

    margin-left: 15px;
    color: black;
}

.home__content__connecting_text h1{
    font-size: 45px;
}

/* Media request */
@media(max-width: 900px){
    .home__content_connecting{
        margin: 20px;

        padding: 15px;
    }

    .home__content__connecting_text{
        font-size: 15px;
    }   

    .home__content__connecting_text h1{
        font-size: 35px;
    }
}

@media (max-width: 800px) {
  .home__content_connecting {
    display: flex;
    grid-template-columns: none;
    margin: 10px;
    padding: 15px;
  }

  .home__content__connecting_text span {
    display: none;
  }
}

@media(max-width: 500px){
    .home__content__connecting_text form{
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
    } 

    .home__content__connecting_text button{
        margin-top: 10px;
        margin-left: 0;
    }

    .home__content__connecting__animation {
        display: none;
    }
}