.home__content__creating{
    margin: 50px;
    height: 60vh;

    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    padding-left: 55px;

    align-content: center;
}

.home__content__creating button{
    width: 150px;
    height: 35px;

    color: black;
}

.home__content__creating__text h1{
    font-size: 45px;
}

.home__content__creating__text {
    font-size: 20px;
}