.home__navigation-panel{
    position: relative;
    margin-top: 10px;

    padding: 10px;
    
    display: flex;
    align-items: center;
    background-color: transparent;
}

.home__navigation-panel__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

    font-size: 48px;
    font-weight: bold;

    background-image: linear-gradient(45deg, 
      #FFD700,
      #FF69B4,
      #2ECC71,
      #3498DB);

    -webkit-background-clip: text;
    -webkit-text-stroke: 2px black;
    background-clip: text;

    color: transparent;
}

.home__navigation-panel__login{
    position: absolute;
    font-size: 16;

    top: 40%;
    right: 100px;
}

.home__navigation-panel__login button{
    padding: 8px;
    margin-left: 20px;

    background-color: #81D4FA;
    border: none;
    border-radius: 15px;
    color: black;
}


@media(max-width: 750px){
    .home__navigation-panel__title {
        top: 50%;
        left: 70px;
    }

    .home__navigation-panel__login{
        right: 20px;
        top: 40%;
    }
}

@media(max-width: 1250px){
    .home__navigation-panel__title {
        top: 50%;
        left: 70px;
    }

    .home__navigation-panel__login{
        right: 20px;
    }
}