/* Container for switching content */
.home__switch-content{
    display: flex;

    align-self: center;
    justify-self: center;

    background-color: rgba(255, 255, 255, 0.15);
    width: 40%;
    border-radius: 15px;
    height: 50px;
    overflow: hidden; 

}

.home__switch-content button{
    width: 100%;
    border: none;

    background-color: rgba(255, 255, 255, 0.15);
    color: white;
}

.go-to-connecting{
    border-radius: 15px 0px 0px 15px;
}

.go-to-selecting{
    border-radius: 0px 15px 15px 0px;
}

@media (max-width: 768px) {
    .home__switch-content {
        width: 95%;
        height: 40px;
        font-size: 14px;
    }

    .go-to-connecting,
    .go-to-selecting {
        font-size: 13px;
    }
}