.home__create__type{
    flex-direction: column;
}

.home__create__ai{
    width: 90%;
}

.home__create__manual{
    width: 90%;
}

.home__create__docs{
    width: 90%;
}

/* @media (min-width: 480px){
    .home__create__ai{
        width: 90%;
    }

    .home__create__manual{
        width: 90%;
    }

    .home__create__docs{
        width: 90%;
    }
} */

@media (min-width: 768px) {
    .home__create__ai{
        width: 70%;
    }

    .home__create__manual{
        width: 70%;
    }

    .home__create__docs{
        width: 70%;
    }
}

@media (min-width: 1024px) {
    .home__create__type{
        flex-direction: column;
    }

    .home__create__ai{
        width: 60%;
    }

    .home__create__manual{
        width: 60%;
    }

    .home__create__docs{
        width: 60%;
    }
}

 @media (min-width: 1280px) {
    .home__create__type{
        flex-direction: row;
    }
}

/*@media (min-width: 1536px) {
    .home__connect{
        width: 40%;
    }
} */