.main{
    width: 40%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
    margin: 20px;
}