.main {
    width: 60%;
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: stretch;
}
.input{
    justify-content: center;
    width: 100%;
    font-size: 24px;
} 

@media(max-width: 880px){
    .main{
        width: 100%;
    }
}