.btn{
    border: none;
    border-radius: 5px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.registration{
    background-color: #81D4FA;
}

.h-35{
    height: 35px;
}