.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description{
    display: flex;
    flex-direction: column;
}


@media(max-width: 768px){
    .main{
        margin-top: 0;
    }
}