.main{
    display: flex;
    flex-direction: column;
    /* margin-top: -200px; */
    gap: 20px;
    width: 50%;
}

@media(max-width: 768px){
    .main{
        margin-top: 0;
        width: 95%;
    }
}

.description{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.24);
    padding: 20px;
}